.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  animation-duration: 1000ms;
  margin: 214px 715px 0 106px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-family: Inter;
  font-weight: 500;
  margin: -97px 89px 0 529px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 22px;
  height: 22px;
  margin: 141px auto 60px 529px;
}

.u-section-1 .u-icon-1 {
  width: 22px;
  height: 22px;
  margin-right: auto;
  margin-left: auto;
}

}