.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  animation-duration: 1000ms;
  margin: 214px 715px 0 106px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-family: Inter;
  font-weight: 500;
  margin: -97px 89px 0 529px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 22px;
  height: 22px;
  margin: 141px auto 60px 529px;
}

.u-section-1 .u-icon-1 {
  width: 22px;
  height: 22px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 464px;
    margin-right: 566px;
    margin-left: -90px;
  }

  .u-section-1 .u-text-2 {
    width: 696px;
    margin-right: -90px;
    margin-left: 334px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 352px;
    margin-left: -96px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -96px;
    margin-left: 120px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 94px;
    margin-left: -18px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-bottom: 49px;
    margin-left: 165px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 322px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 116px 784px 0 101px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 1.6;
  font-family: Inter;
  font-weight: 500;
  margin: -39px 90px 60px 520px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 255px;
    margin-left: 1px;
    margin-right: 684px;
  }

  .u-section-2 .u-text-2 {
    width: 638px;
    margin-left: 410px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 465px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 285px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 85px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 784px;
}

.u-section-3 .u-gallery-1 {
  height: 559px;
  width: 930px;
  grid-gap: 17px;
  margin: 39px 96px 60px auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 57px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1521px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1730px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3639px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1298px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2462px;
  }

  .u-section-3 .u-gallery-1 {
    height: 817px;
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 621px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 76px 784px 0 101px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 1.6;
  font-family: Inter;
  font-weight: 500;
  margin: -39px 90px 0 520px;
}

.u-section-4 .u-image-1 {
  width: 302px;
  height: 345px;
  margin: -271px auto 0 64px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 700;
  text-decoration: underline !important;
  margin: -50px 90px 60px 520px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 684px;
    margin-left: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 410px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 465px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 190px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 285px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 85px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 38px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 359px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 96px 784px 0 101px;
}

.u-section-5 .u-list-1 {
  width: 385px;
  margin: -66px 265px 60px auto;
}

.u-section-5 .u-repeater-1 {
  min-height: 179px;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Inter;
  font-weight: 500;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 3px;
}

.u-section-5 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Inter;
  font-weight: 500;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  color: rgb(47, 14, 241);
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 3px;
}

.u-section-5 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Inter;
  font-weight: 500;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  color: rgb(47, 14, 241) !important;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 684px;
    margin-left: 1px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 465px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 285px;
  }

  .u-section-5 .u-list-1 {
    margin-right: 155px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 85px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }
}